* {
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: repeat(6, 100px);
}
.grid-box-1 {
  width: 100px;
  height: 100px;
  background-color: yellow;
  grid-column: 6;
  grid-row: 6;
}
.grid-box-2 {
  width: 100px;
  height: 100px;
  background-color: black;
  grid-column: 5;
  grid-row: 6;
}
